body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.t1 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.choose {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.t2 {
    font-weight: bold;
    color: #333;
}

.ch_model {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn1 {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn2 {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Change button color on hover */
.btn2:hover {
    background-color: #0056b3;
}


.t2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-top: 20px;
}

.result {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.img1, .img2 {
    display: block;
    margin: 0 auto;
    max-width: 300%;
    max-height: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.t3 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.tail {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

/* Change link color on hover */
.tail:hover {
    color: #0056b3;
}

/* CSS for the white card */
.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    word-wrap: break-word; /* Enable word wrapping */
}        
        
/* CSS for the text inside the card */
.card-text {
    font-size: 18px;
}